body {
  font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/*header*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 45px 60px;
  background-color: white;
  color: #6a75ca;
  font-size: 18px;
  /* border-bottom: 1px solid #e0e3fd; */
  z-index: 10;
  height: 50px;
  /* 헤더의 높이를 지정합니다. */
}

.progressBar {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #dfe2f7;
}

.progressBar-ing {
  position: absolute;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #6a75ca;
  width: 0%;
  /* 초기 width를 0%로 설정 */
  transition: width 0.2s;
  /* 움직임을 부드럽게 만들기 위한 트랜지션 */
}

/* about 섹션*/




.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 요소를 수직 가운데로 정렬합니다. */
  flex-direction: column;
  background-color: white;
  padding: 80px 0 100px 0;
  margin-top: 100px;
  /* 헤더의 높이만큼 margin-top을 추가하여 겹치지 않도록 합니다. */
}


.section-about h2 {
  margin: 0 auto 100px;
  display: block;
  /* inline-block 대신 block으로 변경 */
  text-align: center;
  /* 텍스트 가운데 정렬 */
  font-family: "GmarketBold";
  color: #6a75ca;
  font-size: 40px;
}

.cont-about {
  display: flex;
  /*cont-about 요소와 그 하위 요소들을 Flex 컨테이너로 만듭니다. 이 설정은 하위 요소들을 가로로 정렬하기 위해 사용됩니다.*/
  margin: 0 auto;
  /*가운데 정렬을 위한 마진 설정입니다*/
}

.slide-container {
  width: 438px;
  margin: 0 auto;
}

.slide-album {
  position: relative;
  width: 438px;
  height: 438px;
  overflow: hidden;
  border-radius: 20px;
}

.slide-images {
  position: relative;
  display: flex;
  height: 438px;
}

.slide-images img {
  width: 438px;
  height: 438px;
}

.btn-next,
.btn-next:active,
.btn-next:focus {
  position: absolute;
  padding: 8px 8px 7px 14px;
  background-color: #6a75ca;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 100%;
}

.btn-prev,
.btn-prev:active,
.btn-prev:focus {
  position: absolute;
  padding: 8px 14px 7px 8px;
  background-color: #6a75ca;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 100%;
}

.btn-next:disabled,
.btn-prev:disabled {
  background-color: lightgray;
}

.btn-next:hover,
.btn-prev:hover {
  cursor: pointer;
  background-color: white;
  color: #6a75ca;
  transition: 0.7s ease-out;
}

.btn-prev {
  left: 18px;
  top: 50%;
}

.btn-next {
  right: 18px;
  top: 50%;
}

.info-about {
  margin: 0 0 0 60px;
}

.cont-about {
  display: flex;
  margin: 0 auto;
}

.txt-about dt {
  display: inline-block;
  margin-bottom: 17px;
  width: 110px;
  font-size: 22px;
  font-family: "GmarketBold";
  color: #6a75ca;
}

.txt-about {
  margin-top: 55px;
}

.txt-about dd {
  display: inline-block;
  font-size: 22px;
}

.detailButton {
  margin: 45px 0 0 20px;
}

.detailButton button {
  width: 140px;
  height: 140px;
  margin: 0 45px 0 0;
  border-radius: 100%;
  background-color: #6a75ca;
  border: none;
  color: white;
  font-size: 18px;
}

.detailButton button:hover {
  cursor: pointer;
  background-color: #c4c8f1;
  color: #868ecf;
  /* border: 2px solid #6a75ca; */
  transition: 0.5s ease-out;
}

.detailButton button img {
  width: 43px;
  margin: 10px auto;
}


/*======*/



.slide-container {
  width: 438px;
  margin: 0 auto;
}

.slide-images {
  position: relative;
  display: flex;
  height: 438px;
}


/* ==================================== */

.member {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team-goals,
.learning-process {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* top 버튼 */

.btn-moveTop {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 65px;
  height: 65px;
  background-image: url(images/topButton.png);
  background-color: transparent;
  background-size: 100% 100%;
  /* 배경 이미지 크기를 버튼 크기와 동일하게 설정 */
  border: none;
  cursor: pointer;
}

.btn-moveTop:hover {
  background-image: url(images/topButton_hover.png);
  transition: 0.5s ease-out;
}